# The follow modules seem to be missing when running py2exe
BeautifulSoup
Carbon
#Carbon.Files
Cheetah # This was needed for setup.py?
Cheetah._namemapper
ElementC14N
Image
MySQLdb
OpenSSL
#OpenSSL.SSL
#OpenSSL.crypto
__pypy__
# __pypy__.builders
_cmsgpack
_dummy_thread
_frozen_importlib
_frozen_importlib_external
_imp
_manylinux
_scproxy
_sysconfigdata
_systemrestart
_thread
_trie.Trie
_wrappers
astroid.inspector
astroid.utils
backports.ssl_match_hostname
brotli
builtins
certifi
chardet
cjson
collections.abc
com.sun
com.sun.jna
com.sun.jna.platform
configparser
copyreg
coverage
cryptography
cryptography.hazmat.backends.openssl
cryptography.hazmat.backends.openssl.x509
cryptography.x509', 'cryptography.x509.extensions
distutils.ccompiler
distutils.cmd
distutils.command
distutils.command.bdist
distutils.command.build_ext
distutils.command.build_scripts
distutils.command.install
distutils.command.install_scripts
distutils.command.sdist
distutils.core
distutils.debug
distutils.dir_util
distutils.dist
distutils.errors
distutils.extension
distutils.fancy_getopt
distutils.file_util
distutils.filelist
distutils.log
distutils.spawn
distutils.sysconfig
distutils.util
distutils.version
django.http
django.template.loader
docutils
ds.sys.Unspecified
dummy.Process
email.Header
extensions.Extension
extern.six
flup.server.cgi
flup.server.fcgi
flup.server.scgi
genshi.core
html
#html.entities
#html.parser
http
#http.client
#http.cookies
#http.server
iconv_codec
#importlib.machinery
#importlib.resources
#importlib.util
ipaddr
ipaddress
itimer
java
#jinja2.debugrenderer
#json.JSONDecodeError
keyring
lockfile
#lockfile.mkdirlockfile
lxml
#lxml.etree
lzma
matplotlib
memcache
mx
#mx.Tidy
#ndg.httpsclient.ssl_peer_verification
#ndg.httpsclient.subj_alt_name
netbios
nose
numpy
ordereddict
org.python.modules.posix.PosixModule
packages.six.moves
packages.six.moves.http_client
packages.six.moves.urllib.parse
packages.ssl_match_hostname.CertificateError
packages.ssl_match_hostname.match_hostname
packages.urllib3.util.Timeout
packages.urllib3.util.parse_url
packaging.version
pathlib
pip._vendor.requests.packages.urllib3.response
pip._vendor.requests.packages.urllib3.util
pip._vendor.six.moves.urllib
pip._vendor.six.moves.urllib.parse
pkg_resources.extern.appdirs
pkg_resources.extern.packaging
pkg_resources.extern.six
pkg_resources.extern.six.moves
pretty
psycopg2
psycopg2.extensions
pyasn1.codec.der
pyasn1.type
pygments
queue
reno
reprlib
resource
routes
setuptools.extern.ordered_set
setuptools.extern.packaging
setuptools.extern.packaging.specifiers
setuptools.extern.packaging.tags
setuptools.extern.packaging.utils
setuptools.extern.packaging.version
setuptools.extern.six
setuptools.extern.six.moves
setuptools.extern.six.moves.configparser
simplejson
six.moves.tkinter
six.moves.tkinter_tkfiledialog
socks
sphinx
sphinx.ext
testrepository
tidy
treebuilders.getTreeBuilder
treewalkers.getTreeWalker
typing
urllib.error
urllib.parse
urllib.request
usercustomize
util.SKIPPABLE_HEADERS
util.SKIP_HEADER
utils_py3
win32api
win32com.shell
win32con
win32event
win32evtlog
win32evtlogutil
win32pipe
win32service
win32serviceutil
win32wnet
wincertstore
winreg
xmlrpc.client