# Going to try and use this to change to python3, I expect problems, but alas, it's a start
# https://docs.python.org/3/library/2to3.html
# The following are the requirements for running the Python2.7 version of XDM
cherrypy==3.2.2
babel==1.3
python-dateutil
guessit==0.6
# Was getting the following error:
# error: compiling 'C:\CLI\Python27\lib\site-packages\jinja2\asyncsupport.py' failed
#     SyntaxError: invalid syntax (asyncsupport.py, line 22)
# So I downgraded jinja2 to the version previous to XDMs lastest release date.
# XDM = Aug 16, 2015
# https://github.com/lad1337/XDM/releases/tag/0.5.19
# jinja2.8 = Jul 26 2015
# https://pypi.org/project/Jinja2/#history
jinja2==2.8
jsonrpclib
pylint
pytz
requests
peewee==2.0.0
sh
six
pydes==2.0.0
mock
# This is needed to pip install py2exe for python2.7 these days
# Reference:
# https://stackoverflow.com/questions/23734172/install-py2exe-for-python-2-7-over-pip-this-package-requires-python-3-3-or-late/23735000
# How to call pip to install in python 2 specifically
# https://stackoverflow.com/questions/26266437/how-to-use-python2-7-pip-instead-of-default-pip
py2exe-py2